# Ignorar archivos generados por IDEs
**/.idea/
**/.vscode/

# Ignorar archivos específicos de NetBeans
**/nbactions.xml
**/dependency-reduced-pom.xml
**/nb-configuration.xml

# Ignorar archivos específicos de macOS
**/.DS_Store

# Ignorar archivos de compilación y salida de Maven
**/target/

# Ignorar archivos binarios compilados y generados
**/*.class
**/*.jar

# Ignorar archivos de texto genéricos
**/userphotos/
**/account_types.json

# Ignorar archivos de imagen
**/photo.jpg


