.stack-personal-pane1 {
    -fx-background-color: #808080;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}
.stack-personal-pane2 {
    -fx-background-color: rgba(204, 204, 204, 0.37);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}
.stack-personal-pane {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 15;
    -fx-padding: 0;
    -fx-border-radius: 15;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.image-profile {

    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-Register {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #070F2B;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: normal;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-SignIn {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #1b1a54;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white;

    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: normal;

}

.button-ForgetPass {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #525b90;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white;

    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: normal;

}

.button-redStyle {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #b70204;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white;

    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: normal;

}

.button-blueStyle {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #587abe;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white;

    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: normal;

}

.button-blueStyle:hover, .button-blueStyle:pressed, .button-blueStyle:armed, .button-blueStyle:focused {
    -fx-background-color: #0A1B42;
    -fx-text-fill: white;
}

.button-redStyle:hover, .button-redStyle:pressed, .button-redStyle:armed, .button-redStyle:focused {
    -fx-background-color: #0A1B42;
    -fx-text-fill: white;
}

.button-SignIn:pressed, .button-SignIn:hover, .button-SignIn:armed, .button-SignIn:focused {
    -fx-background-color: #0A1B42;
    -fx-text-fill: white;
}

.button-Register:pressed, .button-Register:hover, .button-Register:armed, .button-Register:focused {
    -fx-background-color: #070f2b;
    -fx-text-fill: white;
}

.button-ForgetPass:pressed, .button-ForgetPass:hover, .button-ForgetPass:armed, .button-ForgetPass:focused {
    -fx-background-color: #525b90;
    -fx-text-fill: white;
}

.image-button {
    -fx-background-image: url("../resources/go-home.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:hover, .image-button:pressed, .image-button:armed, .image-button:focused {
    -fx-background-image: url("../resources/go-home.png");
    -fx-background-color: #f0f0f0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-LogOut-button {
    -fx-background-image: url("../resources/logout.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #525b90;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


}

.image-LogOut-button:hover, .image-LogOut-button:pressed, .image-LogOut-button:armed, .image-LogOut-button:focused {
    -fx-background-image: url("../resources/logout.png");
    -fx-background-color: rgba(28, 34, 73, 0.68);
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-info-button {
    -fx-background-image: url("../resources/info.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-info-button:pressed,
.image-info-button:hover,
.image-info-button:armed,
.image-info-button:focused {
    -fx-background-image: url("../resources/info.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-delete-button {
    -fx-background-image: url("../resources/btnDelete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-delete-button:armed,
.image-delete-button:focused{
    -fx-background-image: url("../resources/btnDelete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-delete-button:pressed,
.image-delete-button:hover{
    -fx-background-image: url("../resources/btnDelete2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-add-button {
    -fx-background-image: url("../resources/btnAdd.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-add-button:armed,
.image-add-button:focused{
    -fx-background-image: url("../resources/btnAdd.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-add-button:pressed,
.image-add-button:hover{
    -fx-background-image: url("../resources/btnAdd2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-save-button {
    -fx-background-image: url("../resources/btnSave.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-save-button:armed,
.image-save-button:focused{
    -fx-background-image: url("../resources/btnSave.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-save-button:pressed,
.image-save-button:hover{
    -fx-background-image: url("../resources/btnSave2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-save2-button {
    -fx-background-image: url("../resources/btnSaveSin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-save2-button:armed,
.image-save2-button:focused{
    -fx-background-image: url("../resources/btnSaveSin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-save2-button:pressed,
.image-save2-button:hover{
    -fx-background-image: url("../resources/btnSaveSin2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}


.image-add2-button {
    -fx-background-image: url("../resources/btnAddSin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-add2-button:armed,
.image-add2-button:focused{
    -fx-background-image: url("../resources/btnAddSin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-add2-button:pressed,
.image-add2-button:hover{
    -fx-background-image: url("../resources/btnAddSin2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-max-button {
    -fx-background-image: url("../resources/maxView.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-max-button:armed,
.image-max-button:focused{
    -fx-background-image: url("../resources/maxView.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-max-button:pressed,
.image-max-button:hover{
    -fx-background-image: url("../resources/maxView2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-newMail-button {
    -fx-background-image: url("../resources/newMail.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-newMail-button:armed,
.image-newMail-button:focused{
    -fx-background-image: url("../resources/newMail.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-newMail-button:pressed,
.image-newMail-button:hover{
    -fx-background-image: url("../resources/newMail2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}




